<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naveen.me</title>
    <link rel="stylesheet" href="style.css" media="screen"/>
  </head>
  <body>
    <section id="home">
      <div class="container">
        <h1>Navee<span>n.</span></h1>
        <ul>
          <li><a href="#"><span>h</span>ome</a></li>
          <li><a href="#"><span>a</span>bout</a></li>
          <li><a href="#"><span>e</span>xperience</a></li>
          <li><a href="#"><span>c</span>ontact</a></li>
        </ul>
      </div>
      <div class="colums">
        <div class="col1">

        </div>
        <div class="col2">
            <h1>student</h1>
        </div>
      </div>
    </section>
  </body>
</html>
