<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naveen.me</title>
    <link rel="stylesheet" href="style.css" media="screen" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <section id="home">
      <div class="container">
        <h1>Navee<span>n.</span></h1>
        <ul>
          <li>
            <a href="#"><span>h</span>ome</a>
          </li>
          <li>
            <a href="#about"><span>a</span>bout</a>
          </li>
          <li>
            <a href="#"><span>e</span>xperience</a>
          </li>
          <li>
            <a href="#"><span>c</span>ontact</a>
          </li>
        </ul>
      </div>
      <div class="colums">
        <div class="col1">
          <img src="source/man-removebg-preview.png" />
        </div>
        <div class="col2">
          <h1><span>s</span>tudent<i class="fa fa-code"></i></h1>
          <p>
            A autonomously motivated scholar imbued with a resolute conviction
            in the attainment of "triumph".
          </p>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="about-container">
        <div class="about-col1">
          <img src="" />
        </div>
        <div class="about-col2">
          <h1>about</h1>
          <p>about para</p>
        </div>
      </div>
    </section>
  </body>
</html>
